
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

.text-teal{color: $teal;}
.bg-teal{background-color: $teal;}
.bg-purple{background-color: $purple;}
.text-gray{color: #9b938f;}

$gray-vhsys: #f6f7fa;
$gray-vhsys-2: #f9fafc;
$gray-vhsys-3: #f7f8fb;
%gradient-vhsys{
    background: theme-color();
    background: -moz-linear-gradient(top, theme-color() 0%, rgba(87,162,193,1) 88%);
    background: -webkit-linear-gradient(top, theme-color() 0%,rgba(87,162,193,1) 88%);
    background: linear-gradient(to bottom, theme-color() 0%,rgba(87,162,193,1) 88%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#445d9b', endColorstr='#57a2c1',GradientType=0 );
}

.title-vhsys{
    display: flex;
    justify-content: center;
    align-items: center;
    &::before, &::after{
        border-top: 1px solid #e2e6f2;
        content: "";
        flex-grow: 1;
        height: 0;
        max-width: 30%;
    }
    span{
        padding: 0 5rem;
    }
    @include media-breakpoint-down(md){
        font-size: 2rem;
        span{
            padding: 0;
        }
    }
}

//Destaque 
.box-destaque{
    position: relative;
    @extend %gradient-vhsys;
    h1{
        font-size: 2rem;
        span{
            font-size: 2.25rem;
        }
    }
    .list-group-item{
        background-color: transparent;
        border: none;
        padding: 0 1rem;
        margin-bottom: .7rem;
        font-size: .85rem;
        background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/' x='0px' y='0px' width='50.854px' height='43.621px' viewBox='0 0 50.854 43.621' enable-background='new 0 0 50.854 43.621' xml:space='preserve'%3E%3Cpolygon fill='%2339E8B8' points='50.854,9.519 41.338,0 16.859,24.478 9.515,17.133 0,26.651 16.75,43.621 '/%3E%3C/svg%3E");
        background-position: 0 4px;
        background-repeat: no-repeat;
        background-size: 12px 12px;

    }
    &::before{
        content: "";
        bottom: 0;
        right: 0;
        width: 100%;
        height: 40px;
        position: absolute;
        background-image: radial-gradient( ellipse at top center, transparent 71%, $gray-vhsys 72% );        
    }
    @include media-breakpoint-up(lg){
    &::after{
        content: '';
        left: 0;
        top: 0;
        position: absolute;
        background-image: url("data:image/svg+xml,%3C!-- Generator: Adobe Illustrator 17.0.0, SVG Export Plug-In --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/' x='0px' y='0px' width='744.574px' height='1034.058px' viewBox='0 0 744.574 1034.058' enable-background='new 0 0 744.574 1034.058' xml:space='preserve'%3E%3Cdefs%3E%3C/defs%3E%3Cimage overflow='visible' width='1713' height='2379' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABrEAAAlLCAMAAAB10xkYAAAAaVBMVEUAAAABK2ABK2ABK2ABK2AB%0AK2ABK2ACLGIBK2ABK2ECLGICLGEBK2ABK2EBK2EBK2ACLGEDLWMBK2ABK2EdTpcdTpcdTpcdTpcd%0ATpcdTpcdTpcdTpcdTpcdTpcdTpcdTpcdTpcdTpcdTpeG98SSAAAAInRSTlMALismKSgkAyIGDQke%0AGRAgExUWHPOv4mgxWNNKiHadwCc5obwn5wAATCRJREFUeNrs3VtugzAQQFEPhJD3A/a/16oflaqK%0AfpAAGUvnbOIKPB4X4H9jwEq64VgABIvsLqcCsJxrwBp2Q18ABIvs7j6vAMEiv+bq9AoQLPI73AqA%0AYJGdzyvgm2CRXfswbQGsYQgwzA5UQLDwOxCogmCxoL1pC+CHYJHY5VwA1vIIWEZjdSDwi2CRVet3%0AILCqW4BdTEAFBAvTgUAVTgFv654uCwN/CBYJmWYHNnBqAhxfAfmdBYv3NKPjK2CCYJFM42VhYJJg%0AkUv7KABTBItU9o6vgK0cBQvjFkANjrsAy26B/PouwHYLIL++DTAeCOTX7wNesLONCdjYIWC+zjg7%0AsLV7gMevgApcAly/AiowBsx00CvgA64B89xdvwI+YQjQK6ACzwC9AipwC77Yu7fUhoEYCqD2+A0x%0Addv977U/hdLg+FFSLIVzNnEZRrpCXgEJuJGP+kAgBYGFvAJScBALeQWk4CAW/q+AFCb3RZBXQAbu%0AiyCvgBTcF+GYUV4Bf6GunV36A4EXo64d/exACuracf8KSEH7LbtaeQUEoP2WPeW9Arie9lt2lI+h%0AArieMkG2lVleASEoE2Tb51QBRKBMkE03eQUEMSgTRMEFkIFuJjY0FoaBOHQzYQELSEE3ExawgBTm%0AGtYZaAdCUXWBAUEgBVUXrOsNCAKxqLpgVWfgAghG1QUGLoAUprYGAxdAfENTg4ELIIGxBg0XQAI2%0Ah7lXlgogHpvD+MACUlhq8IEFJGARi996H1hATBaxfpT/0T7UPdSc0R827rvJKyAoN4e/lecG1tmQ%0AarrnBtR4xNuKxQcWEJRFrDulXP7CarqT6bVv7PtjCTb7wIIv9u4tR40YiALo2O1uiPIgJPvfa5Ai%0AzQ9jgnpsqCLnbOKqytc2YbmI1Rm1xml9I3aCFoLAf8JFrCsTEqufWmtrnw2tbVkGRdbJk7dAYC5i%0AdSJrfGr1PWzMOh5vhtYvB1hAYC5iddRHHmcNqQt+ejX4zR9YQGQuYv0js55+njUhsiwEgYxcxLqt%0Ajte6eom1Dl8NbhaCQDp+xLqrNZjnKvF2LwtBIJnDVgh0OWvtNjCGtwYtBIFk9NqfE1qtb31YbdBC%0AEMhErz1kZj3wjUELQSAJvfbn1QZbqxFag8cLC0EgPr32+9USoei+TGhgeEMQSECvPe5mcB0yZt0R%0AWydvCAIJHPTan55ZbccjGEOfdD9rXAAJ6LUHWQ7uSKxRkaVxAeSg1x6hf7HjNGvYjWKNCyAJvfYw%0Aq8Haajex2jrts+LvFoJADj8KkUatNnU3qHEBJPa1EGrQapO/KNa4ALL6otceLbJqa3PnLI0LIKXD%0AUgjYGaz9P/WHfqr/8w0gi1Mh4qf6k28Ub3/99sYFkIeaYNTNYK1zj7O2RaUdSEVNMGdmrSOK7irt%0AQCaevy2hi+6tzbucdVRpBzJREywl+py17xUMAxbwYtQEL6JHVmt1wnHWSaUdyEVN8CJ6Yl204Q/k%0A+hcfSEZN8F302NqxGDRgAS9ETfBd+MDa1Rrspdb5DSAXrwnOU+v40NpxodiABbwGNcErsYvut0Kr%0An1irAQvIz6fD12KvBvcdZxmwgPR8OvyRvGPWjdMsAxaQ27nwkcyh1VovswxYQGIeZ+qLvhvc8waG%0AAesPe3eU1DYQBAFUu5Zsk5CEIve/K58URSHLRjbT0nuXmFqppweIJXUxq/bQGr+cWtNMBmPywAIi%0AKWeaV3ti3fRD6/A6ACRSznRZ9ak1jtecKD57YAGZlDNdVH1ezRbkTp+oaQdCKWdapnwLxtJ63KM7%0AWEAo5UzLFX9pLXtm/ffAAkKdxsZS1UfWggTGwQMLiHVuXKH8zLqwnPXsgQXEkrr4cQ98ZR3+DgCp%0ApC6uVH5ezY2sf08DQKrfui5qeMTQmrQyAcFOU+Pn9YcsFB8tDQPJpC7K6OsbP7A0DESTuqij38H4%0ATqYdyCZ1Ucz9RpZMO5BN6qKafqeZNb0MAMmkLmpaf2LpaQfSuTBSU1+byAWQTuqiqr4qkQsg3q9G%0AUb23vhotF0C8J6mL0vo6Ri0XQLzToVFaX4OWC2ADnhvFrXCh2OVGYANeGvV9c2aNDosAG+BMfop+%0Au7PIBbABzuQH6Tf6MwBsgML2HP02ky+CwCZYHU7Smy+CwG5ZHY7jiyCwT1aH41zZgTGpZQK24XRs%0A5FHLBOyQ1eFYfZHXAWAbrA4H80UQ2BOrw9lkBIHdcHU4n4wgsA9+Yr2xd0e5CcRAEAV3vIQQKQna%0AcP+75hMhwQF4qrqEZXd75v2tl05eBIEOIdb7Wy8PrbMXQaBDiFXhRRCIE2JlPPlSbI4gUHIdKtY8%0Anlm7XcNAyTF0PN6yvu0aBkrMv625H1rHBhBiiWOSUjsQJMRKMuYC6PkbipTagRwhVpRSO1AjxIpS%0AagdyhFhNV6V2oMZPrCa7G4Ec4wSTllI7kGOcYNKu1A702IlVJMICguzEKhJhAUFCrCARFlD0uQ81%0AIiwgSYjVI8ICkn6HGoMEgaSvNbQYJAhECbFqTgYJAk23oeUiwgKarBipuW0ASUKsmmMDaLoMJb4N%0AA1n25Lf4Ngxkmc7UonMBZFkx0qJzAXSZzpSicwF0mc5UonMBhCm2l3zoXABh5yFD5wIo+xkydC7g%0An717y20bBqIwTLVpBTexY9QkZetmZfa/yAYo+tIgSGJLD2fm/zZBcXR4Bp7RzuQImQsAnrUPDZxg%0Atwg0tctlmsu1r7X2fZnHbjgmgGC7a9/YLQI9j8N4zfZGnbslAQTbvaKYCXIOXcn2rjq/ECQCwXaX%0ACAlCTDuUbB+oIzct0NjuDyFBaNl1vX1KeUkAje2uEBKElF1X7dPKOQE0trtBSBBahmpfMjNDQGq/%0AN/CAkCCknIp9VZ74TxveqYEHNAlCSpftBj0RjOAou/DhJx+fEHIodpvcJQTWEmx34YkDC0LO1W42%0AM/4OjLILF/YJ0HHJdof+d0JQxwYOkGqHksnuU8m5B0XZhQuk2qFktHtljqyY2OLoAPvxIWW0+2Ua%0AMCKi7MIBUu2QMtkrblmg7CIkutoh5WLrqKSNwqHsQh9d7ZAy2Fp6puHB7Buoe0qAkCXbakpCJMwE%0A9TEYgZRdbyuaEuJofzQQxzMsaBltVaQvAqEAVx7PsKBlsHX1xI7CoABXHc+wIOax2srGhBjahwbS%0A2IYFNaO9Yi4ICnDj4d0w1CzZVndNiODQQBrvhiGn2AaGBP9YiiWO9Y2Qc7Yt9An+PTdQ9syBBTnF%0A/uKSBWaCoVB0AT2L/cOfLLAUK5BTAuTMthH2jnjHTFAaG8Mh6Fe2jcwJrjETlHZMgJ7OtpJ5Su8a%0AM0FpNDNB0tU2c0lwjJmgMJqZoGlv/2PrCJgJOseB9Ye9O0pqKgiiADqvQAMoCvpIgkjA3v8i/VNJ%0AsAo+5qNvnbOJW9XTc5umdjXPqrAsl5lgY6oE6equjvmShZlgNIFFV5u1jtgWxEww2rkqQbra1wlN%0ATZgJBtN9S1+PNZXpQygzwbbOVAnS16FOqL3ATDCWsnY6+1FT7QaBzATbuhBYdLbWKcfzMRPM5LoI%0Ard3UKX+IMRPM9HVAZ/s6YVkQd4czOYdFcw8113YQ5/NCSwKL7u5rrnWQ5mqhJfcbaW9Xkw3CbM4X%0AOroe0N30xFIRneb7QkcCiwCP9ZLEwkwwkQv5JNjVK9Q08T+bDwsNCSwieMfiXa4XGhJYZLAryHt8%0AWmjoZkAE/7F4j7OFfgQWKfY119MgyLeFfgQWMa7qmF5BzASTCCyC6G7nzT4utCOwSPJUx9zH4nW3%0AC+18GRDkUFPtBymccWxIYJFlVzOtl4MUzjj2I7AI81zHrArijGMGgUWcbb1g8QJnHEMILPIcaqJf%0AgxAq29uxJUig+5pn3QwyqGxvR2CR6GqtaQ6DEOqZuhFYZLqraR4GGdQzdSOwCHVfs2zttoe4XOhF%0AYJHqclt/2RTkFRcLrdwOSPWzJnkeRLhZaMUBR4Ld1j/0tuMrVnMCi2iH+sNnLH6zd2e5bcNQFEDJ%0ApJmnOpY8RbJj7n+RbVO0KBwETWx/+JHn7EF4EnV53zv3mUgeEtRsWn7xiYWrWBUwsKjdUP5S286O%0Ai0wg0wSVe+zKb24Ps+shE8h9gurNy7F18rV1cBUrFAOLFlxtyhvLh3EVK7CnBC147UopFmNhK1Zk%0ABhatmJdj6uSV6uAqViTXdiXQjL4UFbjYihXXpYFFO25XCgXZcZcJ49zAoiWvs3IkvUenEpeZKAws%0AGrPtylFs7hJVmGSi+Ga1D615KcewspqnEjdiF2GcGVi0Z1kOtxITrIUG3DDOnGvQouXhA0vXRS00%0A4IZhYNGol64cZPOYqIQG3CjObhO0aTErB1g7Ta/GcyYIA4t2fd+UvY2JWmjADcO5Bi27Gst+ZpYO%0AV+QpE4NsLo3brsoe1s4mKiJ2EcVzgsbdDF35opkqwaqIXQRh5TCk9NqXr+hGkYuqiF0EYYMjvNlu%0Aymd1g3+/ddF2EYSFWPDHoi+fMRvNq9pou4jBfhH4x2Rclf/oXzw01RG7iEFdO+xYDB8Pra6f+7yq%0AkdhFCBd+HsN7k+Ww6cqOWT8uvOHVSewiBHXt8KHpdj4O677v1+thXC7cvaqX2EUI2m8BxC5i8NII%0AIHYRgj/IAOk8c/qsoQNIk8zps+gbIF2JXQSgmwkgpWnm5F0nAO4yJ083E8BPl5lTd2Fg8YO9O1xJ%0AIArCMHwGttai1MrFdAli7/8i0yJdBP/PsM9zEwr7fnOA1tZBdk5dAJz0XZCcUxcAZ69BdpbDACdP%0AQXaWwwBnmyA5y2EABwVLsBwGcFCwhJWuHcBBwQo8kg/goGAJhlgADgqWYIgFoGyvwZvDAMr2Egyx%0AAJTtJXw0AJTtBWwaAL+2QWa6dgBlewm6dgA320vQtQMo22vQtQP8ewkS07UDKNtL0LUDXDwGea0a%0AAMr2AnTtABd9F6Slawe4eg/ykgkCGA+XsG0AeBarAJkggPFwCTJBAM9ilSATBDAeLkEmCGA8XINM%0AEGBmHWQlEwSYewiSkgmyJP3nYf+1P3z7dst9b0FSMkGWox+H3fRnN4wNjIdr6fzVZDHG4zR39JuF%0Al4dL8egwi/E8TLcGH3ExHv5h7+520whiMIDOplWJStsAXQaWFEHm/R+ytJWq/MAmlx75nHdAi8f2%0A5478KJDD+dDequcCLg934nuBHM61NZ8sPmA5ENNDgRy+1nZd9TDIS/cDIQlnIo1tu2VbQD5TfMKZ%0ASOOx3TYVkM8UnnAmslgc2m0Hbw3IZwpvUyCJxzbHWhbymaL7ViCLbbvQyeJ9q4GITF2Qx2Jsc0Y/%0ABuQzhWbqgkT2bd6+wF+bgYhMXZDI1C5MC6LE6pSpCzI5tnm7AiJww5J1QSrHNu9YQARuVKYuyGXn%0Ai4UI3F6ZuiAZfSxE4HbLhRGSMSvIRzwMxOPCCNm8t4/l1QElVlD3BbKReYErI126M3VBPpNcQVwZ%0A6ZHVYRJa1HZb9S8OV0ZiWhdIaDIpiBKrOwLbSerUbjkVUGJFZHWYrFa1XVe9O+CQY0h3ywJJ7cd2%0AzWgXiz8+DURjdZjE9rW9VX2wUGLF9LNAYutTe+20KnDxeSCYLwVym2p7rpoSxK38oOTfwmLaju2f%0AcTsZRMIhx6isDsPF8ml3/HXcPRlD4r/1QDDybwGUWF3QxAK4ajMQiyYWgBKrD5pYAEqsLmhiASix%0AuuCII4ASqwuaWMBv9u7tBmEghqLgWgEkIDz7L5YGiL99pZkuTtaxkVgZPGIB/PcoRvGIBSCxIvgT%0AC0BiRfCIBSCxMriJBSCxIriJBXDgKrFG2RYAEiuARyyAI9diEo9YABIrwr4AkFgBzo6CA0isCM6C%0AA/gXK8J3ASCxAjgxAiCxIhhsB3AXK4MTIwASK4LtTAASK8JmsB1AYkUw2A4gsSJ8FgASK8BrAXDo%0AU0xhsB1AYmWwsR1AYkUw2A7QORVD2NgO0HkXUxhsB+iciyFsbAfoPIshLguAxlbMYLAdoHUrhngv%0AABqXYgbLLgAkVgTfBAF6r2IGyy4AWvdihn0B0NmLEU6WXQBIrAi3BT/27u1GgRgIomg3u6sFieGZ%0Af65kMEb82IXOycIl+TbgiRVAABdg36lZggAuwMCzWYJNEGDff7OErQDYtTUr+CkAHMtP4CgWgGP5%0AEWyCAI7lR7AJArjkmMEmCOCSYwSbIIAzIxFsggBDx2YBNkEADdwINkEADdwINkEADdwMNkEADdwI%0ANkEADdwINkGAsUcznxsjABq4EdwdBhi7NdP9ujsMINAUwSYIINAU4VwACDQFONgEAQSaIlwKAIGm%0AANcCQKApwOFUAAxtzWy3AsDv4QDHAmDs3sxmEwR4x18z2aMAGLs0H5FsB3iH38PfRJ4JwO/hCJLt%0AAH4PR5BnAvB7OIM8E4Dfwy/27uTGYSgGoiA54w2QF8jOP1enoH8i2qiK47EZwTwTgOvhCOaZAPwe%0AzrAXAH4PB3CKBeD3cAanWADHvJplTrEAjpG2/xCnWADS9gxOsQCk7RF8xQKQtmfYCgBpe4BHASBt%0AD3CWXQBI2yM4xQKQtkewgAsgbc9gARdA2h7hXQBI2wPILgCk7RlkFwDS9giyC4DD7s0a2QXAiGuz%0ARHYBMOTdrJBdAEw5NUtkFwAzns0K2QXAlFuzRHYBMGNrlngyAjDk04z5k10AmBSM8CwATAoGuBQA%0AJgUTbAWAScEA9wLApGAA2QWAScEMewFw2N5M+S8AdBcJDAoC6C4i3Argy969nTgQxEAAHB3YZ2P8%0AwJt/rk5B+hp6qcpC0N1C7iKBZDuA3EWEYwEgdxFAsh1g5FK0SbYDjMhdnMNlASB3kcBmO4DcRQTJ%0AdoCRb9Em2Q4wIndxDjbbAeQuMtwXAHIXAZ4LALmLAMrDAPYuMnwWAP6MBPAWC2DmUQx4iwWwzVG0%0AKQ8D7PP/V/QpDwNs8ynalIcBNroWbcrDABNyF6egPAww9CzalIcBNpK72OO7ABh5FS1OLIDNbkWT%0AfSaAne5Fm30mgDHPh9O9FgCeDwe4LgA8H05gAhfA8+EI7wWAEdwEJnABlLEimMAFUMbKYAIXQBkr%0AwrEAUMZK4MQCUMaK4MsIgDJWBBO4/Ni7o5wGYhiKojEtKhWqYOj+98oO6jQfGVs6Zxc3kl8Ax1g9%0ASCwAx1gtSCwAx1g9+MgRwDFWCxILwDFWD8cAwDFWA9cBwNsuwRR/5QOc6zvISSyA8z2CGf7KBzib%0AY6z9PgcAFpo6kFgAFppakFgAFpp6kFgAFppauAwALDR1ILEALDS1ILEAVhxBRmIBVGChKSexAAqw%0A0JSTWAAVWGjKSSyACq5BQmIBVGChaYK5C4ACnkFCYgGUYKFpgn+xAM7nUXCCr4cBCjDbnpJYABWY%0AbU9JLIASzLbv9nEbAHgUbOAYACy4BQmJBVCCR8Hd/gYAK36C1yQWQAkeBXd7DABW/AZ73QcAK76C%0ArZ4DgBX34J+9e7tRGIgBKGrvA6KAYBf675UOYikfI1s6p4u5GtsFTyyAFv6Tpe4BwCmXZKlbACAK%0ADvAMAETBCTyxAETBEbYAQBScYA8ARMEBvgMAUXCCRwAgCg7gWD6AKDiDS44AouAIzowAiIIzODMC%0AIArO4IkFIAqO4MwIgCg4gzMjAKLgCM6MAIiCM9iBCyAKjnAJAE76SyoWNAF0sCXr/AYAJ12TggVN%0AAC2IgiULmgBaeCYVC5oAGhAFa6aHATp4JAXTwwAt3JNjpocBWrh+JctsAcBZe1IwPQzQgihYMT0M%0A0IMoWDA9DNCDKFgwPQzQxDs55PYwQBM/ScX0MEADt+SYr+0APbySZfYA+LB3B6gJBEEQRbuNWQMa%0AXZP739UTzAguDN3w3jk+VXzsK5mRtgMU4S9/StoOUMYzmZC2A5ThL/8dx1gAJbjGekfaDlCDa6w5%0AaTtAFVZwp6TtAGVYwV3mHABYwe3gLwCwgtuBtB3ACm4LtwDACm4H1wDACm4DWwBwwJYssgcAVnAb%0AMCkIcMieTJgUBCjjkcyZFASoweDFnElBgCIMXixzDwAO+E3WOAUAR3wnQ7oLgDq07TO6C4A6nsmQ%0A7gKgkJ9kSHcBUMclGdJdABRyT4Z0FwCF3JIh3QVAIQYvFnkEAM4cO9BdADhzbEF3AeDMsQfdBYC2%0AvYdrAKBtb2ALALTtHewBwCHnZIXTJQDQtjfwH/Bi795uEwpiAAraIomAEIVH/73SAL4/K61saaaM%0A9foY0G2fwL8LAN32EU4BgL/tEzwCgCXXZAv/LgAWvZKSCC5AI9/JDtcAYMklOSCCC9CGv+01EVyA%0ATv6TgmUsgFacHz4gggvQh7/tNctYAJ04P1yzjAXQifPDW9wCAImmCSxjATg/PIJlLACJphksYwEs%0AOyUFy1gAnUg0HXAZC6CRe7LBMwBYdEs2uAQAEk0DnAOARb/JBvcAwKWRCRSaAJadk4JCE0Arxlgl%0AhSaATlwaqSk0AXTi0sgOrwDAGGsCj4IALo2M8BUAGGNNINsOsO4v+Uy2HaAXB/Mrsu0ArRhjVWTb%0AAXoxxjog2w7QiDHWBj8BgDHWm707yGkgiIEAaCeAgIQN5P+P5Z71bTSSLVU9o3vGPcFfAKDGmkAo%0ACKDGGsGWI4AaawZbjgCx7prUbDkCtKLGqggFAfo5kjOhIEA/aqySUBCgHb+xCkJBgH7UWBWhIEA/%0AfmOVhIIA7aixCkJBgIbUWAWhIEA/aqySUBCgHTXWfo8AYN0zOREKAjT0mZwJBQH6uSQnXgoC9KPG%0AqlgfBuhHjVWzPgzQzSPZ7CMAUGNN8AwA1t2SM6EgQD+/yWbXACDW3ZPNfgKAWPeWbHYLANZ9JZu9%0ABwCx7kheCQUBOrLmuN13AGDNcYBLAGDNcYJ7AOAM7gRHAOAM7gSmsQCcwR3BXj6AM7gz2MsHcAZ3%0ABqEg8M/eHaQ2FANBFNSQBBxMgu1//7t6b81SghZUneNND2Zwj+A1FoAZ3DP4lw+wxlfR8xoLIIr7%0A4Y4VXIA87od7VnAB0rgfrp4VXIAw7ocbVnABArkfblnBBUjj/3DD4AVAIP+Hq2fwAiDMVTQMXgDE%0A8X94s9cAwP3wCe4DAPfDB9C2AyzyLLa6BgCG20/wPwBY4ruYadsB4rgf3uw2AHA/fAJtO8Aif8Un%0AbTtAolsx0bYDBDLc3rDbDpBHeDHRtgNEEl50tO0AeYQXDbvtAIGEFxNtO0Ak4UVD2w6QR3gx0bYD%0ARBJezLTtAImEF3s9BgA+5p/gdwCwRrHTzwBgjXvxyfthgESPYmKiCSDQVUxMNAEEEl5MTDTxZu9O%0AchsGYiAAksiiREgi2Pn/X33VyD7OACRQ9Y0mu4GSNF4s9RsAOLzoYA8ANF40oKIJQONFD0cAYGqk%0AA0sjAA4verA0AmBqpAUxFoDDix7EWADT3JOFbgHAJEcyEmMB1PSenImxAIrakiuD+QAV7cmFwXyA%0AkhxevGIwH6Cen+RMjAVQ1VtyJsYCqCo5E2MBVGUc64lvLICSdDSNxFgAVRnHGomxAKoyjjVSKghQ%0AlXGsCzEWQE3GsUZiLICqdDRd2cYCqOmWnIixAMrS0XQhxgIoSkfTQIwFUFayzlcAoKOpg3sAoKOp%0Agz0A0NHUwRYAzHIky3wGANN8JMv8BwCzbMk6fwGAU8EOvgMAp4IP9u4kBYEgCKJopRMoitP97yru%0AuvdZUAHvneNnZIDTAEAqmMA3RwCpYAYzuABSwQxmcAGkghHM4AJIBTOYwQWQCmZ4DACkggnM4AJI%0ABTOYwQWQCkY4DwCkggncDwNIBTO4HwaQCmZwPwwgFcwwAJAKJvB/GKDTsZjD/TBAr2IS/4cBWl2L%0ASfwfBmh1K+Yw3A7Q613M8hwA9LkXW8ILgFVdijkMtwP0OhRbwguARdnB3RNeAKxKKrgjvABY1quY%0A5TMAsIObQHgBYAc3g4/5AH9e5i/vNACwg5vAx3yAYQc3gvACQNyeQXgBYAc3g/ACoNO32LB4AbAs%0AcfuOxQuAZYnb97waAX7s3YtNAwEMRME1ER8pEELov9fkerClszRTx7OXsyqm3AKAuH0DUyMA4vYV%0AhBcAEbev8BUAfG7fQHgBIG7fQXgB8CJuX+AaAMTtGwQAcfsGlwAgbt/AOBZAq3sx5C8AiNs3MI4F%0A0Oq7GOFHE0Czj2KCH00A3d6KCX40ATT7LEb40QTQ7FqM8KMJoNmtGOFHE8DB1sgGAaDTfzHjPQDE%0A1sgCfjQB9LoUMx4BILZGFpAKArzYGllAKgiQ2BrZIAA4x9rAnCNAr0cxQSoIcHCOtYFUECDOsVaQ%0ACgIcnGOdn1QQ4GAd6/wCQGId6/ykggCJdawNfgOAA+INDBADHKxjnd89AHT6KSZIBZ/s3YtpAzEQ%0ABNCRE+JzYgKO++81J4w7kGAX3qtjPgCr3Qd7XAPASl+DLS4BIFHHqu8IACd/juU9A0D8OTbwCADq%0AWB18B4DEn2N9twAQf44NBID4c2zADi7A5M+xPju4AC8KxNXZwQXIpEBcnh1cgEmBuD7hdoCTAnED%0Awu0AJw/EDQQABeIOhNsBMnkgLk+4HeDkgbgB4XaAkwfiBoTbARY7BhsItwMs9zHYQLgd4EWBuL4A%0AsNR1sMVnAFAg7uAIAPGZ38A9AJxMXpT3FwASkxf1/QaAxORFfT8BICYvGlDHAphMXtQXACaTF9X5%0AGgFY7TJYz9cIwJuRpuqeAWCp22CLRwCIkaYG1LEA/tm7F5yGgSCIgjMhED4yRPH974qtlQMHmJXG%0AUtU9+vVGpOkEzLEAit2TCcyxAMo9kgnMsQDKrckMrwHARqSpPe9YADGINDXnHQtgEGnqbgkANiJN%0A7d0DgI1IU3ufAUCpWzKBORZA7GQFT+AWAIg0ncAlAKj1ndTz5whwkBXszoAYYJAV7M6AGKDakjwZ%0AEAM0Jiv4x4AYoDNZwX8MiAEakxWcwQMxQL1r8mRADNBYMoEHYoBBVrC9awAQISvY31sAUOsrqWdA%0ADBA7IdwTWAOAQQi3t0cAEDsh3OYkLwAGIdzuJC8ABiHc7iQvAKqtyQwfAUCtn6Se5AXAQbq9uUsA%0AEDvp9uZeAoCddHt37wFAsUtSTqQJ4OBspLsl4Je9O0ppIIiCKPqeGiMoanT/e800wyQb6IYaOGcT%0A9VcXGFy3p3PSBFCD6/Z4TpoAanDdHu+7ALBYZ+BWEKAGsZF4TpoAdmIj6a4FwEZsJF4BMIiNpHMr%0ACFCD2Eg8t4IA030107kVBDjIY6VzKwjwII8V7b8A2MljZXOECzDdpVngVgDUII8Vzq0gwE4eK51b%0AQYDZrs3GYgHEs1grOMIFqJ0EcTxHuAA1SBDHKwA2go7xHOECWKxzeCsAdhLE2Vy3AxwkiLO5bgeY%0A7tZM57od4Ek0P5vFAjiI5mdz3Q5gsc7hrwCoQTQ/nNgIgMU6h98CYLKfZjp5LIAFPprpxEYAFnhv%0AFvgsACZ7baaTxwJY4NJ0WyyAfC/Nnb17u00gCqIgOMeIxYDNM/9cIYi50o5UlUR/djtDR4AFQj9D%0AR4AqxRrB0BGg3Sm0M3QEqFKsGQwdAdqdwwJbAaBYE1gQA7S7hgXuBYBiTWBBDNDuEhLFAtg/xVrA%0ANB+gSrFmUCyAdrewwKsAUKwJngVAs0dY4FEANHuGBW4FgGJNcCkAmr1ColgA+/cfEsUC2D/FWuJa%0AACjWBIoF0O4dFjgXAM3+QqJYAPunWEucCgDFmkCxANrdwwIFgGKNUAAo1gQ/BUC33xDFAhhAsb4U%0AC2CALfQ7FgDdDiGKBTCAYn0pFsAAirXCoQDodgxRLIABFGuFrQA+7NyxDcJAAATBO4uAAOSA/nul%0AiXdw0kwTmy2KteAdAE57lSoWwICrVLEABijWE+4AoFgLFAsgijVBsQCiWBMUCyCKNeETABRrgWIB%0AnFdaxQIYUFrFAhhQWsUCGFBaxQIYUFrFAhhQHvALAIq14BsAFGuBYgFEsSYoFkAUa4JiAUSxJigW%0AQBRrgmIBRLEmKBZAFGuCYgFEsSYoFkAUa4JiAUSxJvgKAkSxJigWQBRrgmIBRLEmKBZAFGuCYgFE%0AsSYoFkAUa4JiAUSxJigWQBRrgmIBnHeV8+4AoFgLFOvPXr3YJgDEUADLK6XlT6H778oSOeki2UsY%0AoIw1grEAylgjnAqAbscQYwEMYKwkxgIYwFhJjAUwgLFWOBQA3Q4hxgIYwFhJjAUwgLGSGAtggJ/Q%0A71gAdDuFft8FgLEm+CoAjDWBsQDKWDMUAN2eITEWwP6MtcRvAdDsFhJjAezPWEucCwBjTWAsgHb3%0AkBgLYH/GWuJaADR7h8RYAPsz1hKXAqDZKyTGAtifsZZ4FADN/kJiLID9PcICrwLAWBMYC6DdJSzw%0ALgCMNcG9ADDWBP8FgLEmuBUAza4hMRbA/oy1xLMAaHYOC5wKgA9793HbQBQEUXCG3kg0Uv656iRG%0A0APsB6qS6Fu/sHMzYF8AWKwVHAuAtGbArgCwWEsoANJ2TbfFAti+QzPgXACEHZsB1wIgbN8MuBcA%0AYZdmwK0AsFgrsFgAcc9mwKMACPtqBrwKAIu1gncBEPbdxMnmA1RZrDXI5gPE/TRxIsQAA95NnAgx%0AwIBHM+BUAFisFYgQA8TdmjhJR4AB9yZPIAugLNYiBLIA0q5NnkAWQN65yRPIAhjQ5MmNAAzYNd0W%0AC2D7Dk2cQBbAgH0TJzcCMODUxMmNAAy4NHFyIwADnk2c83aAD9n8jXPeDhD328Q5bwf4kM3fOOft%0AAP9EiDeuAAh7NXnO2/lj7w5yEwaiIAr+URJFCBCI+x8WsD1jsx+kXlTdo18DnRPidOLtAIMT4mjC%0AggCdS8dswoIAG5eO4e4FwMqlY7ZHATC4dAwmLAiwc+mY7FIATPbXmE5YEGDnICubsCDAxkFWOGFB%0AgMHdSDaZJoDO3Ug2mSaAjbuRcOcCYK5HoxMWBEjmbuSDTBNALHcjRzJNALncjRzINAEEczfyHbcC%0AYCXenk2mCWAn3p5M9AJgEG/PVgCsxNvDiV4AbMTbw4leAMx2a8wnegHQibenE70AWEjhxrsWAAsp%0A3HCXAuBNCjed6AXAQgo33k8BsJLCzSZ6ATDbqfEV/wXAixRuPBNigEEKN5oJMcBsv43OhBggmbDg%0AgQkxQDBhwSd792LTQBBDUdQGgRLCJyH998rMLpAGPJJXOqcO+74HL8QAnQkLrnEKACZhwe5eAoBa%0At2QBK8QAO5mm/rwQA+xkmrrzQgxQ7JIs8RkARMg09XcLACaZpu7uAUCtp6SeTUeAes9JPZuOAPVO%0AST2bjgB/ZJra85AFMMk09echC2Aj09SehyyASaapv+8AYJBpas9DFkCxc7KAhSyAf6IXzVnIAtiJ%0AXrQXAAyiF/2dA4BSX8kSbwHAIHrR3jUAiBC96O8jACh1TRawNwKwEb04AHsjAMUuyQrO2wE2ohcH%0A4LwdYCN60Z7zdoBJ9KI/5+0AxV6TBZy3A/wSvWjvPQAodU8WcN4OsLObfwABwOCFuD/n7QCDF+ID%0AcN4O/LB3RzkJAEEQBXsQBSEIwv3vKkJI9H832UmqztFvhjsJcQPfAeCXhHh1twAw1LaYYh8AEgnx%0A+rYB4M4X4vXtAkDiC/H6jgEgEuIGvgLASIdijmsAiIS4AbdwAcbaFTO4hQvwJCFuIAAM9VbM4BYu%0AwGj7Yga3cAEe/HRswFgQYKxrMYOxIMCTn47r+wgAgqwONgEgEWQ1YCwIMNameDEWBFiZIOsPY0GA%0AhZ2LF2NBgJUJsv4xFgRYlg9Zk7gsCPAgyGrAWBAgEWR14A0xQCLI6uAUABJB1vrOASCCrAbeA0AE%0AWR3sAsBAp2KSYwAY6FJMcgkAAx2KSW4BYKDPYpJ9ABipmMJTR4A78/Ye3GkCSMzbO/DU8Ye9e8lN%0AIAiCKFiFGYxljPnc/66wo2ffLVVJEed4ygQIeXsLTh0Bwt9IC3aaAELe3sIxAJC3t2CnCSDk7S1I%0ALwCm2pJF7gHAROdkkUsAMNEzWeQrAJC3tyC9AJC39+AiC0De3oOLLIA3eXsDLrIA3qy3N3AKAKy3%0AtyC9ALDe3oP0AmCmWzKQXgCUJW/fsXoBUNZ3smf1AqCoQzKQXgCUdUoGDkcAyrokOw5HAIp6JB/S%0AC4C6rskqWwAwz28ykl4AlJUMpBcAdW3JKo8AwBZuB/8BgC3cDg4BgC3cFn4CALFgB9cAwBZuB38B%0AwDzHZM9zPkBN52SZAEAs2ILnfACxYA/m2wFe7N1RCgIxDATQRmVR0FXc+9/V3239bSGB966RyYzh%0A/BrUtwMIC9agvh1AWLAIP8QAwoI1+CEGEBaswQ8xgLBgDX6IAYQFi7BDDCAsWIMdYoCJLsEidogB%0AhAWrsEMMICxYgx1igIn2oKcMFyAnM8QrfRoA0wQ9ZbgASV2DkTJcgIyewUAZLkBK32CgDBcgJT1N%0AKx0NgFkewTrXBoCephKU4QLMswVnDlkAWR1Bz6ojQE5GHQcOWQBJCQsOHLIAkjLq+M+qI0BKt+DM%0AIQsgq3ewztYA0NNUgkMWgOhFDQ5ZAHqaanDIAtDTVIOPLIB57kHHIQsgqVfQUy0IkNMe9GxkAeQk%0AejFyyAJISvRi4JAFP/buIDeBIIaioA1BIWGIAvc/LPvpbVuypapr9OtvaMqJrBMPWQBNOZF14iEL%0AoCknskrdAoBNHkmlnwBgk6TSfwCwyTUpdAQAmxxJoUsAsMkrqfQIAKQXE7wDgD2+k0r3AEB6MYKh%0AJgCrFzM4nQ9g9WIGp/MBpBczuDgCYPViCA9ZAA6OzODiCID0YgZDTQDSixkMNQFIL4Yw1AQgvZjB%0AUBOA9GIGQ00A0osh9O0Am/wlC307QEPSi1zp2wE6uiSVvgKAPe7Jmb4doKNncqZvB+joN1no2wEa%0Acjk/V/p2gI5uyULfDtDQkSz07QANvZKV/XaAfvwhzpW+HaCjpNYzADDfPsE1APCHeIQPe3eU00AM%0AQ1HUFgVpoKID3f9eu4DJXxMpTzpnGXZyfRQA8u0JzgJghqNZ61EAyLdHkL0AmOPRrPVdAMzw36z1%0ALADk2xPIXgDIt4eQvQDwhziD7AWAP8QZZC8A/CEOIXsBYJGV4a8AcIc4wVcB4A5xBNkLgCnOZkQN%0AF2A37hAPqeEC7EcMd8BYEGBDYrjL/RYAYrgJ7gWAGG4CNVwAf4hDOJIFIIabwZEsADHcDMaCABZZ%0AIYwFASyyMhgLAkzx0Sx2KwAmeDYXxoIAG3LVccztfIDdWGSNGAsCbMgia72fAsAiK4GxIIBFVobP%0AAuB9R3NlLAiwoVtzYSwIsKF7M+C1IMB2zubKWBB4sXdHNw0EMRBA7YtIAiEk0H+xFMAuP5s72dJ7%0AZXjkGeoRZI04CwIUtCV/OQsC1CPIGtMtCFCNIGvI5AhAOYKsIWdBgHp8ZI04CwLUI8gacRYEqEe1%0A4AG2AECQ1YKzIMALvCW7+wwAbGR1sF0CAEFWB18BgCCrg0cAsOyU7M9ZEECQ1cMzABBkdXANAFZd%0AkgO8BwCCrA6+A4BV92R/5wBg1UdygFsAIMjq4B4ArLomE3YdAUr5SaYUuAMUcktmFLgDlLIlEwrc%0AAUp5JDMK3AEqeSZzmpoA6rA48h9NTQCFmM6f0dQEUIvFkUOcAgCLIy1oagJQ1NSDpiaAZefkAFsA%0AYHGkBS9ZABZHengEAIqaWvCS9cveHaUgDMRQFM2I1kJFtO5/r64g81MYEjhnHTcvAIaaejgDAENN%0AHTjJAjDU1IQvWQCGmnr4BQD69g58yQLQtzfhJAvAUFMPvmQB6NubcJIFcNF3kDKHC1CIvn3KHC5A%0AHfr2lPYCoBSPiCfM4QIUom+f0V4A1KFvnzGHC1DIPljiHgDo21swhwtwzTHIaC8AStG3T2gvAArR%0At+e0FwCV6NtXeQQAl9wGKe0FQCH223PaC4BKPoOc9gKgDvvtU36OANSxDWb8HAGo4hzk/BwBqMPs%0AxTJ7AKBvb0F7AWD2ogftBcAl78Eit2cA4K1jB9oLAG8de9gCALMXLRwBgNmLDl4BgNmLFrQXAH/2%0A7i0FgSAGAmDi48NFUfH+d/UGM8suDAlUHaNJutVe9GDYEUDtRQ+3AOCEezLgwB2gjFcyplwQoIYt%0AGXLgDlCFNtx1fgHAcc9kSLkgQBHacBf6BgDacDtw4A5wxjsZcOAOUIY23BkN7gA1iAXHHLgDlKEN%0Ad0yDO0AV32SdRwBgJKuDVwBw2DWZ8EUMUIKRrJU+AYCRrA6uAYBYsIUtADCS1cE7ABALtuCLGMB2%0Afg++iAHEgk34IgYQC/bgixjguFsy4YsYoIRfMmGLGKCELVnoHgAcdUnGbBED1CAWnLNFDFCBWHAH%0AVU0AFYgFp1Q1AZQgFtxBVRNAAWLBOVVNACWIBXdQ1QRQgFhwSlUTQAliwT1UNcGfvXs5TiiIoSg4%0AMi6DC39x/rk6AyTegpGqurM4dyFBA2bB57otAMyCE4gsALPgEO7hAng5MsPrAsAsOIJ7uABmwRlO%0ACwCz4Aju4QKYBWfwdATALDiEyAIwC85wWQAc8hncJ7IAergGBT47Aux3Cgp8dgTY7hbcJ7IAengP%0AMiILoIW3IOd9PsB+v0GF9/kAjzMLDieyAI65BBmRBdDBT/BkfwuAA85BSmQBdPARJEQWQAtfQUpk%0AATRwfgkSIgugBbNggcgCaMBfx5zIAmjBLFggsgAa8NcxJ7IAOvDXsUJkATTgr2NOZAF04IB7hcgC%0A2M8B9wKRBdDBd5ATWQD7udRU4U8WwH4uNe1wXQC41DTBP3v3dptQFAMB0AbCJZHCs/9eaQHzwdGi%0AmS4seXcdWQCamkI4sgDecGg+7lIAaGqK4MgC0NSUwZEF8IZj83l/BYCmpgSnAmBqa17gyAJYTyRr%0AhWMBIJIV4VwAGM9P8FMAiGRFuBYAIlkJDlsBIJKV4FYADF2bBXaOLACRrAz/BYBIVoKd/XwAkawM%0AjwLASlYERxbA1L2ZsJ8PsMpvM2HaEWCZUzNhdQRglXMzYHUEYJlNHe4a+wJg5tEMKMQFmFKHm05X%0AE4A63BD3AkAdbgJHFoDfixC6mgDU4YbQ1QTg9yLDpQAY2TcDYsQAy9yaATFigBlTxN9AjBjA70UG%0AH+4ApohDiBEDT/bu7bZhKAaiIOlElhNYfvbfq1u4/CJozNRxsEvNlvQ4KdwBXBHP4I0YQHsxhDdi%0AAO3FDN6IAbQXQ9wCALsXE2wBgN2LERTuANqLGRTuANqLIRTuAD5HhlC4A2gvZjgHAOseSYnCHaDJ%0AfkoqbLgDdHknbY4AQHsxgsIdoOCctLkHAMtuSZ//AGCZ9qLMvCBAiyMpMS8I0OQvKTIvCNDjnlSZ%0AFwRY5tjxW4gvAIwLzvATADh2HOEZABgXnEB8AWBccAjxBYBxwSHEFwDLLkmN+AKgwLjg1xBfACz7%0ATWrEFwA9XkmR+AKgxZ5UiS8AWlyTTtseAAjcJzgCAO/5I4gvAATuM1yCD3t3doNQDMQAMAvivqH/%0AXikh4X0QjGa6iBV7AXxwj3BtAFhwT7Dy+QLAgnuGVwPAgnsEpSyAMYdiCYu4AF93K+Z6NgBGHIsF%0AlLIAvm9dfEwpC2CCe/E5pSyAMT64/xWlLIAxl2IRl7IA+nxw/zNKWQDOZGVQygJwJiuES1kAQ/bF%0AbKcGgBZxgm0DQIs4grEmAC3iEMaaALSIMxhrAhjxLKa7NwC6dsV0K7kggFvEGW4NAFNNEYy4A7hF%0AnMGIO4AWcQgj7gADtsV8ckGAvmsxn1wQYMCmmE8uCND3KH6A444AppoyyAUBTDWFkAsCeGSFkAsC%0AmGrKIBcEMNUUQi4I0HUufoFcEODN3r2dMAzEQBSVyAMTY+Ik/feaDta/Gjini1mbqyt7M4F3QQA9%0A3BDeBQH0cEPoCwLo4WZwjxjAyArhHjHAlVszwlkAODqSwLsgwJV7M8JWADg6EuFTAOjhRvAuCODo%0ASIZnAWBkRTgKgJWjGUISF8DIyvCQxAUwsjJI4gK47BhCEhfA+fwM0hcARlYISVwA5/NDSF8AGFkh%0AvAsCGFkZpC8AVvZmDOkLgJV3M4b0BYCRleEufQGwsDVj+MUdYOHVzHEWAEZWhL0AMLIS3AoAIyvC%0ArwAwsiL4xR3AyMqg4g5gZIXYCgAjK8K3ADCyIviUBWBkZVBrAjCyQqg18WfvXpITioEYAHogvATC%0An/vflT02+1FV9y1UsjWAkBXCWhOAkBXCWhPAN1vRyUGVBSBkZTgPADRZEa4DACErgbUmACErxF6V%0ABbD2X/SiygL44lb0osoCELJC+JUFIGRlUGUBCFkhVFkAa+eiGQODAEJWCFUWgJCVwcAgwNKx6EaV%0ABbD0Krp5DACErAinAYCQlWCnygJYOO6Kbv4GALNL0c5lADD5FbIasokLsPAs2nHeEUDICmETF2Dh%0AXvTjIzHAwqHox0digNm1aMhHYoDZvujH6wuA2aloaBsAfNqKhl4DACErgovEAJNb0ZGLxADu52f4%0A8ZEYwP38DGbcAZx2DOH1BYDTjm/27uUIYSAGouAKzO9gjIv8c+XAwesMNFXdcYyeQsi4AwjihrC+%0AAPB1JMOifQFw9liKlrQvAHwdCeHzCIAgbgifRwC0mkL4PAJw9ix68nkEQKspxFWuCUCrKcM2ANBq%0AirAOALSaIsg1AWg1hZBrAtBqymAwCKDVFOJuMAgweRdtGQwCzO5FWwaDAFpNIQwGASZb0ZfBIIAz%0A4gwGgwCTtehLYRDAGXEIg0GAw140ZjAIcLgVjX0GAM6II3hJDOAbcYaLjTuAb8QZFht3AN+IM4ji%0AAjgjDmHjDuCMOMR3AOBRVoR9AGDhHsHGHcCjrAw27gAW7iF03AEs3EPouAP8vTTcu3OWBT/27u04%0AgSiGAaidDFmS8Kb/XpmFJq7G5zThH1mCj0ezuFMBoMM9gukRgLe/ZnXesgB0uIe4FAAS7hF8EgPs%0Ans3qvGUB7DYJ9/VZywLY3Zvl+SQG2H03yzsWABLuEXwSA6gXDGHgEUC9YIhHASB8EeFWAAhfRPBJ%0ADCB8keHLyQIQvshgRh+gfpsEyi8AbDuGOCi/ALDtmEFfE4DwRYijkwWMd20iXAtgOOGLFCoGgfHO%0ATYZzAcy2CV+kUDEITCd8EUPFIDCd8EWMSwGMZnYkh4pBYDizIzmcLGA4syMxFLkDwwlf5FDkDgxn%0AdiSHkwXMtglf5LA9Asx2a2IcnCxgtJ8mhu0RYLT/JoeTBYz2bHK82LsXE4aBGIiCJ/KxE+w4kP57%0ATR3LzjTxQJx0T8kCinl8EUWygGafIYhPiYFmLuJG2RdALRdxs/hHHyjmIm4WyQKKuYib5VgArSxl%0AhZEsoJelrDC/BVBquw9RJAuoZSkrjWQBtSxlpZEsoJWlrDiSBbSylBXnXACd/JQVR7KAUpay8kgW%0AUOoc0kgW0Gl7DGkkC+j0HuJIFtDpGOJIFlDJD/qJ7GUBlRxrSiRZQCVzwUSSBTRyrCmS/7KARt8h%0AkGQBjfYhkGQBhcwFM0kWUMgR90zXAqjjiHuma1sAZRxxD7VLFlDHEfdQT8kC6tyGSJIF1DEXTHWT%0ALKCNuWCqx2sBdDEXTCVZQBtzwVh3yQL+7N2BcQIxEANA+0MgEEKA/oulDp12m/CMxtKVkQvGOn4X%0AQBW5YCxPFlBGLpjruC2AJnLBYJ4soMrlexPrsQCK3Da5XgugiFww2XsB9JALRvtbAD3kgtGcJQaa%0AyAWjOUsMFLnoEUdz4xEookeczcEsoIhcMJspd6CIXDDbycggUEMuGM7IINDjvYnmyQJ6nDfZngug%0Aw3UTzsgg0OK1CWexCWjxswlnsQkocT024cxfACWem3RfusRAh/9NupMnC6ggFxxAMQvo8NjkeyyA%0AAvdNPl1ioMHltMmnmAU0cEJ/BMUsoIFTWSMoZgENnMoaQTELKOBU1gyHI4/AfCZxZ1DMAgqYxB3C%0AL3dgPNMXU/jlDoxn+mKKuy+DwHSmL6Y4e7I+7N2JDcJADADBcyCAeIRC+u+VPlYzbXhtA3FOX2Ts%0AKncgzumLDMkgUOf0RYdkEIi7DRWSQaBN4h7y1V8AaRL3kJv+AkiTuIdcXRkEyu77kLH5pQ+USdxT%0AjgXQ9RtCPCYGyiTuKU42AWES9xb9BRAmcW/RXwBhEveY3wKIkrjXeJkFZL2GFvcvgKxjaNn0F0DV%0Ad4jRXwBRHhL3+D8CRLnW1PPQXwBNrjX17IZZQNNjqLFMDDS51lRkmAUkGWUVeaYPJH2GnotlYqDI%0A45Gi7bkAcoyymgyzgCCPR5oMs4CgcyiymQX03C9Dks0sIMcoq+pcADFGWVV+ZgE5RllVMncgxygr%0A61gAKUZZXW+ZO9DyZ+9ObBQIYBgAkjukXQESX/+9UkfsmTISO7HKyvUv5g5kscrK5QEJEMaBwWBi%0A7kAUq6xkYu5AFKusZGLuQBS/sqK55g4kscqKdoq5AzmssrKZDAJBbkO0zwUgxWeIdsoMAjGeQzST%0AQSDGcR2yyQwCKe5DOJNBIMVrCGcyCKR4DOlMBoEMh/eO+dwZBDIoEhfwgQTIoEjc4OtoE5DATdwG%0AfhMDEc6hwOsCsJ4icYenySCwnyJxh6tqFrCfInEJ1Sxgv+9QQTUL2M9H4hKqWcB6isQ1HgIYwHKK%0AxDUEMIDt3kMLAQxgOWfcewhgALsd0hc9/lzAAFaTvmjiAgawmvRFEzl3YDXpiypy7sBm0hdV5NyB%0AxTzRLyPnDuwlfVHGp0d+7N2JbcMwFERBfsWOhPiC4/57TQA34cXOdEHpcQm51BdtfhdAKPVFG9eJ%0AgVjqizbbcwFksn1R53DMAjLtp6GM1SYg1GWo45gFZLoPdRyzgEy3oc/DMQtI9Bj6GMcFEplr6uSY%0ABQQy19TJ3ywgkLmmUqJBII+5plImMIA85ppaOWYBcY6hlGMWEGY/D6W+vZsFZLkIBnt5NwvIIhgs%0A9vWzAIIIBpu99gWQ4zX0OpltApIIBqtdhe5ADsFgN7NNQBALg+XcJwZyCAbbCd2BGILBdkJ3IIZg%0AsN5V6A6E8CRxPQUGEMKTxMxhahCIIBhk5ubTIJDAKC4zZwUGkOA+YAMDiKBx59/mchYQQOOOy1lA%0ACI07Pg0CGTTuvG3PBfDZNO5/7N1RCoJQFARQr2RFVJbuf6/9RYhCn3fgnE0Ivpm5+DUIhJBxx24T%0AEELGHb8GgRAy7vg1CISQcUdqEAgh486PxXMW0NflXPA1PQeAri5TgTMkQAK1LJwhAULcCiTdgQhq%0AWUi6AyHUstiaJd2Bnh4FnrOACPeCjfE1APSjloXnLCCEa1loZwEh1LLYtYpgAO24lsWu0dgg0I4m%0AMftOIhhAN5rEiGAAITSJOTKLYAC9aBLj3iMQQpMYKxhAiGvBkfHtmwX0YfwCsUEghJvEiA0CIYxf%0AYLkJCGH8AlF3IITxC0TdgRDGL7CQC4QwfoF6FhBiKbDqDkRYC1SKgQj2mlApBkLMBb5ZQAJ7Tfxp%0Aeg7Ah717y00YiKEAWie0QAptgP3vFYkvPpAyCXmM0TmbuBrLc82m9m2AzAIyOKoYpFQrs4DRVAxS%0ATkUu8DFUDDLCj3cWsKFOZGE2COSgFReZBSShFReZBSTRB9h1B1LQistY33owgG2cA0ba6cgFiily%0AZwq3SIDkFLkzQePmIzBMZFGF5uy2PlDG7RE2d5NZwMr2h4BJTr9fAMOcy6IC/0pygWHOZVEFJblA%0AAeeyqIJPxcCajrsAH7SADFx4xLI7kIQLj1gcBJIQWbzrYHEQeElkUZ/WEgbwisiiQpYwgFV0Igvt%0ATUAOXYAmDCAFkcU82t5wEFjYX4AfWkAKIovZnAwHgWcii4qpyQUW1QfMprkaDgLLuQQYDgIpXANs%0ADgIpiCwibA4CKYgsHvTkAvUTWdzZuxfjBmEggIJIGAjmF8f995o0YAOJY+lmdpt4AzqdXq+zcxD4%0AIVmEYAoDaBrJIob25kMLkCyC8KEFSBZRGHcHXmxJ8E/yPDUAkkUITrQAySIMJ1qAZBFFZ1MuIFlE%0A4Y19QLKIIi/GMABD7gTRm3cHJIsojGEAkkUU3iQBvEpMGP4OAn/0meBdtrUBkCxCyHezg4BkEYSb%0AxcDvrQl2ONIC6iBZvN22ihYgWcSQ3dICJIso8l20gNOuCUq4WDwInHXNCYpoRQuQLKIQLeCUSbIo%0AqHVNC5AsohAt4LDpkqCo9svvQeCQUbIozpkWcMjYJSjusrinBewa2wQVcLkY2DVIFpXIs92DwFND%0An6AWmy3vwBPDR4J69Dcz78Ajw5agJsYHgYfmBHVxqAXf7N1bUsMwDAXQsfOggNOk6f73yvQX6H8k%0AnbMJjWXpijeeDS7npj8I/GNrcEGTTS3gj0eDS9IfBH47GlzVenpqAS7pE0Qfh18twI1HgvCrBShZ%0AhNF3Ty3AjUeimJ9mMQAHs4hi1SCE8hzMIoy+P4Q5QWmi3InEBCGUJsqdYFQtKEwuLuEs465qQUly%0AcYlI1YKSzgYhzTqEUI5cXOLq4zBDCJUIGSS0vp9ftoyhColNhLdusjGgBolNZLBoEUIFEptIot82%0ALUJI7nNqkIXHFuQmsYlk1s3KFmT1sTdIxhghZCX+gpRmZQsSEn9BWstQtiAXu8Sk9npt+duCLOwS%0Ak16/GcmAHOwSU8M6HrqEEJ1T+tQx79vd4hYEZjGLYqZxahNCUBazqGgapjIgIotZVDWNU58QYrGY%0ARWnLvh0eXBDF0aC6vr4eXAYK4fIsZoHCBUF8u5gFP+zdSQrCQBRF0ZRRTGeb/e9VyEyEEB2YenDO%0AJi7Rx6/3cPmpEGrVW7nDp1M3++SC6li5w1q5pqdvLqiHlTts+bXwcR16X13wCyt32MGhvc2X+zD6%0A7IKveH4EdrO0a/nu8m8XbGHlDlU4tN3UAKvccodaNMA6t9yhEg3wN+epAIoFES4FUCyI4DAuKBaE%0AMBkExYIQfVsAxYIE564AigURTAZBsSCEK4OgWBDian8BigUZRskCxYIMJoOgWBDCw8SgWJDCySZQ%0ALAjhlUdQLAhhfwGKBSF6T2aBYkEGT2aBYkEK9y9AsSCE+xegWBBiPBZAsSCB/QUoFqSwvwDFghD2%0AF6BYEGKwvwDFggyOuYNiQQjH3EGxIIVj7qBYEOLF3h3cIBDDABB0HsCd4AH9N0sdK880sZKTOB4T%0Ag2JBxPtxAMWCgtd1AMWCBIdZoFgQ4WdiUCyIsBkXFAsiHGaBYkGFwyxQLIjwMgsUCyK8zALFgghr%0ABkGxoMKfWaBYEOHPLFAsiPBnFigWRLw+B1AsSPgdQLEgwWEWKBZE3M8DKBYk2NkEigURdjaBYkGE%0Aa+6gWBDhmjsoFlR8Dyw3QIRt7mw3QIVt7iw3QIdt7qw2QIgFGGw2QMl9HdhqgBYLMFhrgBiTQbYa%0AoMZkkKUG6DEZZKUBgkwG2WiAIpNBFhqgyWSQdQaIMhlkm+HP3h2YIBTFMADMQ/AjiqDuv6tzNL0b%0AozQJTOUyyDIB5nIZZJUAg7kMskmAySyQsEiA2T4HlggwnG1itggw3fU6sEGA+d4eMNggQIHH/UC9%0AABVEs+gXoINoFvUClFDaRLsANb4HmgXoIZpFtQBFrt+BWgGqiGbRK0AXDxjUCtBGNy6lAtR53g4U%0ACtDHAwaVAjTSgEGhAJWME9MnQCkPGLQJ0OppgoQuAXqZIKFKgGKKBmkSoJk/d4oE6ObPnRoByl2v%0AAxUC1NPnTocA/fS5UyHABuLEFAiwgjgx8wVY4ntgtgBbmM1iuAB7aG36s3cHKQoFQQxA08OI+nGh%0A97+siOBCcN+h3rtFIFWhWoBBxCyaBRhFzKJXgFk8x6VWgGHOYhalAoxziFlUCjCPDRIqBZhIzKJQ%0AgJHELPoEGErMok2AqZQGKRNgLi8wqBJgMjGLIgFGE7PoEWA4u1m0CDCdeWJKBOCxoEAAcr0s2F4A%0Aktz/FmwuAC/n24K9BeDt+F+wswD4jkuFAHwc7onZWADcE1MhAO6JqRAARXcqBODLVdGdLQVA0Z0K%0AAbBPTIUAaGBQIQAaGFQIgAYGFQLw03FasI0AaGBQIQAaGFQIgAYGFQJP9u4tBWEYCKDoBEStRcX9%0Ab9YHiK+2tH7NlHM2cSGTZMAWEkoIAEeDlBAAjgYpIQDm2HmcxUKKBSxjQTGrEQBzXRwNsoBiAQv5%0At4m1CABHg5QQAI4GKSEA3BqkhADwoJgSAsCDYkoIAH8NUkIA/KXfN5iiWEAap02DcYoF5GFDMVMU%0AC8ikOzcYoVhALj7BYIxiAdm46c4wxQLSMc5ikGIBCRlnMUCxgJSMs/ihWEBSxll8USwgK+MsPikW%0AkJdxFu8UC8jMOIsXxQJyM87iSbGA5HZHzeJBsYD0Omv1uVMsoAC7s7hRLKAEVzBoigUU4QoGigUU%0A4UUxigVU4QoGigVU0fsFA8UCijhsG1zZu6MTBoEgAKJcSFiMKKj992odA+81MR93u6tYQML5W6BY%0AQIJvgygWEDG3ZqFYQMM8CxQLSPDVHcUCKmwbRLGACl/dUSygwoZcFAuoMJ6FYgEVxrNQLCBiLs1C%0AsYAGI8UoFlDhehaKBVRs1mCgWECENRgoFlChWSgWULFrFooFRLisj2IBFZqFYgEVmoViARV/p0hQ%0ALCBCs1AsoEKzUCygwnsWigVUaBaKBVRoFooFVGgWigVUaBaKBVTYN4hiARWahWIBFW4+olhAxXZ8%0AFigWUDC3ZqFYQINmoVhAxVzfBYoFvOzdgW3DMBADQBpF6iYFXAfdf9fM8fy7LSSR1Aj342C9AIxw%0AfR8sF4AhfEayXQDGUCreLQCDKBVvFoBRTqXitQIwjLD7VgGY5/o62CcAEwkOLhSAmQQH1wnAVJbd%0AlwnAXEIYqwRgNOtNewRguNffwQoBGM8Sxg4BKODbxw0C0MGDVr0AtHhpaHULQA8NrWoBaHLeJgdr%0ABaCMtHurANR5/rscbBSAQuf7cdAmAJ1cDtYJQCvJwTIB6CU5WCUA1dSKewSg3NPmYIkA9Lt+DuYL%0AwAa/KlrzBWCH8zbuPlwA1nDQmi0Ai5xvcfe5ArCLuPtYAdjG6OBQAVjIQWui8GHv3nIiBIIAihaJ%0ApoUBMrr/xRoTNY4Gga+pmj5nEzf9qga65ESrngDo1TS7OlhKAPTLG61SAqBr3mjVEQCda6YOFhEA%0A+PuxhADAJ/slBADuu5cQAHy52B3MLAD4YbU7mFYAcGO0O5hUAOCRVgkBgN3BEgIAI5xKCAC2jIuf%0AtBIJAP4xOdJKIwBwpFVCAOBIq4QA4IDxzSutkxQL4F4uy9PAcYoFcIp7GI8jADhjmkXrGMUCuLe2%0AzgP7FAsggXZ1432XYgHkIFp7FAsgjXZ9GdikWACZiNY2xQJIRrQ2KBZAPuOraP2lWAApjVZavykW%0AQFbNkPcbigWQWFtNxPimWAC5NWOcPikWQH4G5n5QLIASpuV5QLEA3tm7g+OGYRiKgsjkwFC0FVnq%0Av1fX8cHdJt4IBKkI6/bnYsUCCDE9PqhYACmsDyoWQI7D//YVCyCFQy3FAohhPqhYADksvSsWQAwP%0AvSsWQAzzQcUCyGEVQ7EAYvjUUiyAHOt2qqVYACHG+bhgrFgAIZYFQsUCSDGO9+8PigUQYZwvA0LF%0AAgixPv82CBULIMTxdllLsQBCONZSLIAc43w8nKtYACHm+VItxQIIMS/POSkWQArVUiyAHPPa+rpW%0AAZBk7ruNUQCkmeez4+Z7AZBonNvdMi4AUo3j3ulFpwIg2rp2ubBVAMSbW4wIC4AW+o8IC4A+Wn9s%0AFQDNrE/Pk60CoKFxvP+6zQgLgK7W9XSaERYAra2rywMZBd927jA3QSAIwOgWVNxFQOH+d22pMf5o%0AU23SxJ3y3iW+zGR2gX+vK5dT/GwlALYhfLYSABsSOVsJgM1ZTzLiXRImALapH4MdwCcANiwH2hIm%0AADavH4cAfxImALgdZVT94DgBwF0uc61rwgQAIbqVAOB7eayqWwkAHpwTLsfd2+slAHis68fhdwOX%0AYgHwGveBa//2DMUC4PWeCZdiAVCNH8OlWADUJpfzcPryta5iAVCpri+XYWpv5VIsACq3lmuduRQL%0AgCByGefl2CoWAEF0fTnPy9Q2igVAELmM68Jwp1gABNFd2zW1jWIBEETuyzh/xOuwUywAgujWel2G%0AZTrsG8UCIIhrvj6nr7ZRLACC6HKfAAAA+DPv2IUe/DUVIEQAAAAASUVORK5CYII=' transform='matrix(0.4347 0 0 0.4347 0 0)'%3E%3C/image%3E%3C/svg%3E%0A");
        
        width: 100vw;
        height: 590px;
        background-size: 110% 350%;
        z-index: 0;    
        opacity: .7;
        }
    }
    .container{
        position: relative;
        z-index: 1;
    }
}

//Formulário opt-in
.box-form{
    label{
        color: theme-color();
        font-size: .85rem;
    }
    input, select{
        background-color: $gray-100;
        border-color: $gray-300; 
        &::placeholder{
            opacity: .3;
        }
        &:focus{
            background-color:$white;
            &::placeholder{
                opacity: .1;
            }
        }
    }
    button{
        background-color: $purple; 
        font-size: 1rem;
        padding: .7rem;
        margin-bottom: .3rem;
        &:hover{
            background-color: darken($purple, 10%); 
        }
    }
    input, select, button{
        &:focus{
            border-color:$teal;
            box-shadow:0 0 0 0.2rem rgba($teal,0.25)
        }
    }
    small{
        font-size: .59rem;
    }
    @include media-breakpoint-up(md){
        margin-bottom: -5rem;
    }
}

//Box modulos
.box-modulos{
    background-color: $gray-vhsys;
    margin-bottom: 5rem;
    @include media-breakpoint-up(md){
        margin-bottom: 10rem;
    }
    .container{
        h2{
            small{
                font-size: 1rem;
            }
        }
        .box-modulos--info{
            display: flex;
            div{
                flex-direction: column;
                flex-basis: calc(100% / 4 - 15px);
                background-color: $white;
                margin:7.5px;
                padding: 3rem 1rem 1rem;
                h3{
                    font-size: $h5-font-size;
                }
                span{
                    position: relative;
                    i{
                        display: flex;
                        width: 3rem;
                        height: 3rem;
                        background-size: 10px;
                        position: relative;
                        z-index: 2;
                    }
                    &::before{
                        content: '';
                        width: 3.5rem;
                        height: 3.5rem;
                        border-radius: 50% 50%;
                        background-color: $gray-100;
                        position: absolute;
                        z-index: 0;
                    }
                }
                ul{
                    list-style: none;
                    padding: 0 1rem;
                    li{
                        font-size: .85rem;
                        line-height: 1.8;
                        &::before {
                            display: inline-block; 
                            content: "•"; 
                            color:$teal;
                            font-weight: bold; 
                            display: inline-block; 
                            width: 1em; 
                            margin-left: -1em; 
                        }
                        
                        
                    }
                }
            }
        }
        margin-bottom: -3rem;
        @include media-breakpoint-up(md){
            margin-bottom: -8rem;
        }
    }
}

//Box experimente
.box-experimente{
    h4{
        margin:auto;
        max-width: 770px;
        line-height: 1.5;
    }
    a{
        &:hover{
          background-color: darken($purple, 10%); 
        }
    }
}

//Box solucoes
.box-solucoes{
    background-color: $gray-vhsys-2;
    .box-solucoes--info{
        display: flex;
        justify-content: space-evenly;
        div{
            flex-direction: column;
            max-width: 230px;
            @include media-breakpoint-down(md){
                max-width: 100%;
                padding: 1rem 0;
            }
            h3{
                font-size: $h5-font-size;
                margin: 2rem 0 1rem;
            }
            p{
                font-size: .85rem;
                text-align: center;
            }
            span{
                position: relative;
                i{
                    display: flex;
                    position: relative;
                    z-index: 2;
                }
                &::before{
                    content: '';
                    width: 5.5rem;
                    height: 5.5rem;
                    border-radius: 50% 50%;
                    background-color: $white;
                    position: absolute;
                    z-index: 0;
                    top:-1.2rem;
                }
            }
        }
    }
}

.box-experimente-bg{
    @extend %gradient-vhsys;
    @include media-breakpoint-down(md){
        img{
            width: 100%;
        }
        a{
            margin: auto;
        }
    }
}

//Box planos
.box-planos{
    .box-table{
        border:3px solid $primary;
        @include media-breakpoint-up(xl){
            border-radius: 30px 30px;
        }
        table{
        border-radius: 30px 30px;
        margin-bottom: 0;    
            thead{
                background: transparent;
                tr{
                    th{
                        position: relative;
                        border-bottom: none;
                        &::after{
                            position: absolute;
                            content: '-30%';
                            background-color:#fadf86;
                            border:3px solid $primary;
                            border-bottom-left-radius: 20px;
                            border-top-right-radius: 5px;
                            top: -6px;
                            right: -3px;
                            padding: .3rem .5rem;
                        }
                        &:nth-child(4n){
                            @include media-breakpoint-up(xl){
                                position: absolute;
                                top: -15px;
                                max-width: 181px;
                                border-radius: 15px 15px 0 0;
                                padding-left: .3rem;
                                padding-bottom: 1rem;
                                padding-top: 2.2rem;
                                &::before{
                                    content: 'Mais vendido';
                                    color: $white;
                                    background-color: #5bbbc4;
                                    text-align: center;
                                    text-transform: uppercase;
                                    width: 186px;
                                    position: absolute;
                                    left: -5px;
                                    top: -45px;
                                    padding: .5rem 0 1.7rem;
                                    z-index: -1;
                                    border-radius: 15px 15px 0 0;
                                }
                            }
                            .btn{
                                background-color:#76c773;
                                box-shadow:0 3px 0 #61a75e;
                            }
                        }
                    }
                }
            }
            tr{
                th,td{
                    border-left:3px solid #234573;
                    border-right:3px solid #234573;
                    &:first-child{
                        border-left: none;
                    }
                    &:last-child{
                        border-right: none;
                    }
                    &:nth-child(4n) {
                        background-color:#234573;
                        color: $white;
                        &::after{
                            color: theme-color();
                        }
                    }
                }
                @include media-breakpoint-up(xl){
                    &:last-child{
                        td{
                            &:nth-child(4n){
                                &::after{
                                    content: '';
                                    background-color:#234573;
                                    border-radius:0 0 10px 10px;
                                    position: absolute;
                                    bottom: -10px;
                                    height: 13px;
                                    width: 187px;
                                    left: -3px;
                                }
                            }
                        }
                    }
                }
            }
            th{
                border-top:none;
            }
            tbody{
                tr{
                    &:first-child{
                        td{
                            &::before{
                                display: none;
                            }
                        }
                    }
                }
                td{
                    border-top:none;
                    position: relative;
                    margin-bottom: .5rem;
                    &::before{
                        position: absolute;
                        content: '';
                        background-color: #5bbbc4;
                        height: 3px;
                        width: 60%;
                        left: 20%;
                        top:0;
                    }
                }
            }
        }
        .mei{
            filter:saturate(10%);
        }
        h2{
            font-size: 1.3rem;
        }
        .old-price{
            text-decoration: line-through;
        }
        .price{
            display: flex;
            align-items: center;
            justify-content: center;;
            color: #5bbbc4;
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.2;
            small{
                font-size: 50%;
                font-weight:bold;
                margin-right:.5rem
            }
            span{
                margin-left: .2rem;
                font-size: 50%;
                font-weight: normal;
                margin-bottom: .5rem;
            }
        }
        .btn{
            border-width: 2px;
            padding: .2rem 1rem;
            font-size: 1rem;
            font-weight: 600;
            box-shadow: 0 3px 0 theme-color();
            margin-top: .5rem;
            cursor: pointer;
            &:hover{
                color: $white;
            }
        }
    }
    .box-table-legend{
        position: absolute;
        left: 0;
        top: 270px;
        span{
            display: block;
            padding: .8rem 0;
        }
        @include media-breakpoint-down(lg){
            span{
                font-size: .5rem;
                background-color: theme-color();
                color:$white;
                padding: 0;
                display: block;
                display: block;
                border-radius: 5px 5px;
                margin: 2.4rem 0;
                text-align: center;
            }
        }
        @include media-breakpoint-up(xl){
            left: -140px;
            text-align: right;
        }
    }
}

//Box accordion
.box-accordion{
    background-color: $gray-vhsys-3;
    .accordion__item{
        border-bottom: 1px dotted #d7dbe7;
        &:last-child{
            border-bottom: none;
        }
    }
    .accordion__heading{
        font-size: 1.4rem;
        font-weight: 500;
        padding: 1rem 0;
        color: theme-color();
        cursor: pointer;
    }
    .accordion__panel{
        font-size: .9rem;
    }
}